{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="main_cont">
    <div class="left_cont">
        <div class="inner_left_cont">

                <form method="get">
                    <label for="category_select">Category:</label>
                    <select id="category" name="category">
                        {% for group in category %}
                        <option value="{{ group.pk }}">{{ group }}</option>
                        {% endfor %}
                    </select>
                    
                    <ul>
                        {% for article in object_list %}
                            {% if selected_category == 0 or selected_category == article.category.pk %}
                                {% if request.user.username != article.author.username %}
                                    <div class="post_select">
                                        <li><h2> <span class="different-color">></span> 
                                            
                                            <span class="hover-effect">
                                                <a href="{{article.get_absolute_url}}">
                                                {{article}}
                                                </h2></a>    
                                            </span>
                                        </li>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
    
                    <button type="submit" value="filter" style="cursor: pointer;"> FILTER </button>
                </form>
    
                <form method="get" class="filter_buttons">
                    <input type="hidden" name="selected_category" value="0">
                    <button type="submit" value="reset" style="cursor: pointer;"> SEE ALL </button>
                </form>

        </div>
    </div>

    <div class="right_cont">
        <div class="inner_right_cont">
            Welcome to your <span class="different-color"><b>Wiki</b></span>, {{request.user.username}}.<br>
            <p class="smaller_text">Missing info on your favorite topics? Write a wiki about it.</p>

            Your <span class="different-color"><b>Articles</b></span>
            <p class="smaller_text">Want to tell the world about your niche? Write an article about the details.</p>

                <div class="right_scroll">
                    <ul>
                        {% for article in object_list %}
                            {% if request.user.username == article.author.username %}
                                <div class="post_select">
                                    <li><h2> <span class="different-color">></span> 
                                        
                                        <span class="hover-effect">
                                            <a href="{{article.get_absolute_url}}">
                                            {{article}}
                                            </h2></a>    
                                        </span>
                                    </li>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
</div>

<div class="article_form_segment">  
    <div class="inner_article_form_segment">
       
        <div class="article_content">
            <div  style="display: flex; justify-content: center;margin-top:70px;transform:scale(2.4);">
                <button><a href="article/add" style="color:white;">Create Article</a></button>
            </div>
        <div class="article_content">
            <div  style="display: flex; justify-content: center;transform:scale(2.4);margin-top:40px;">
                <button><a href="article/gallery" style="color:white;">View Gallery</a></button>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}




