<html>
    <body>
        {% include 'commissions/commission_header.html' %}
        <h2>{{ object.title }}</h2>
        <p>{{ object.description }}</p>
        <ul>
            {% for job in object.jobs.all %}
                <li>
                    {{ job.role }}<br>
                    Manpower Required: {{ job.manpower_required }}<br>
                    Status: {{ job.status }}
                </li>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">
                Submit
            </button>
        </form>
        {% if request.user == object.owner %}

        {% endif %}
        <a href="/commissions/list">Back to Commission List</a>
    </body>
</html>
