{% extends "commissions/commission_header.html" %}
{% block content %}
{% load static %}
    {% if request.user.is_authenticated %}
        <h4>Hello {{ request.user.username }}</h4>
    {% else %}
    {% endif %}
    <ul>
        {% for commission in object_list %}
        <li><a href="{{commission.get_absolute_url}}">{{ commission.title }}</a></li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <form action="{% url 'commissions:commission_add' %}" method="get">
            <button type="submit">Add</button>
        </form>
    {% endif %}
    
{% endblock %}