<!DOCTYPE html>
<html>
<head>
    <title>Merchandise Store</title>
</head>
<body>
    <h1>Merch Store</h1>

    {% if user.is_authenticated %}
        <h2>Your Products</h2>
        <ul>
            {% for product in user_products %}
                <li>
                    <a href="{% url 'merchstore:product_detail' product.pk %}">{{ product.name }}</a> - Price: ₱ {{ product.price }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'merchstore:product_add' %}">Create a new product</a>
    {% endif %}

    <h2>All Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'merchstore:product_detail' product.pk %}">{{ product.name }}</a> - Price: ₱ {{ product.price }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>